.Square {
  background: plum;
  width: 66px;
  height: 66px;
  margin: 2px;
  box-shadow: 1px 1px 2px black;
}

.Square:active {
  box-shadow: none;
  transform: translate(1px, 1px);
}

.Square-uncovered {
  box-shadow: none;
  background: tan;
  color: black;
}

.Square-flagged {
  background: url('../../flagAnim.gif');
  background-size: 66px 66px;
}

.Square-mine {
  background: url('../../mine.gif'), linear-gradient(to right, red, red);
  background-size: 66px 66px;
}
